.wrapper {
    border: 1px solid #F3F4F6;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 16px;
    background-color: var(--white-primary);
    color: var(--gray-dark);
    -webkit-tap-highlight-color: transparent;
}

.selected {
    color: var(--white-primary);
    background-color: var(--purple-primary);
}

.secondary {
    background-color: var(--gray-lighter);
}