.container {
    margin: 0 20px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin: 24px 0;
}

.nav svg {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}

.nav path {
    fill: var(--gray-primary);
}

.title {
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
    margin: 0;
    color: var(--black-primary);
}