.row {
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    flex-direction: column;
    z-index: 10;
}

.textWrapper {
    z-index: 10;
}

.header {
    padding: 48px 20px 24px 20px;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header path {
    fill: #fff;
}

.header::after {
    content: "";
    display: block;
    position: absolute;
    inset: 0;
    background: linear-gradient(180deg, rgba(34, 36, 47, 0) 0%, rgba(34, 36, 47, 0.48) 100%), linear-gradient(0deg, rgba(34, 36, 47, 0.16), rgba(34, 36, 47, 0.16));
    z-index: 1;
}

.title {
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #fff;
    margin: 16px 0;
}

.content {
    background-color: #fff;
    padding: 24px 20px 20px;
    border-radius: 24px 24px 0px 0px;
    top: -24px;
    position: relative;
    z-index: 20;
}

.content>* {
    margin: 0;
    line-height: 24px;
}

.content>img {
    border-radius: 16px;
    margin-bottom: 16px;
    width: 100%;
    height: auto;
}

.content>h2 {
    font-weight: 600;
    font-size: 24px;
    color: #333647;
    margin: 16px 0;
    line-height: 32px;
}

.content>p:first-of-type {
    font-weight: 900;
    text-align: justify;
    margin: 0;
    line-height: 24px;
}

.content>p {
    font-weight: 400;
    font-size: 16px;
    color: #333647;
    margin: 12px 0;
}

.icon {
    align-self: end;
    margin-top: 24px;
}

.pill {
    width: fit-content;
}