:root {
  --gray-dark: #666C8E;
  --gray-primary: #7C82A1;
  --gray-light: #ACAFC3;
  --gray-lighter: #F3F4F6;
  --purple-primary: #475AD7;
  --black-primary: #333647;
  --white-primary: #FFF;
  --shadow: rgba(172, 175, 195, 0.32);
}

body.dark-mode {
  --gray-dark: #D2D4DC;
  --gray-primary: #B4B7C3;
  --gray-light: #7E839A;
  --gray-lighter: #1E1F26;
  --purple-primary: #A0A8FF;
  --black-primary: #FFFFFF;
  --white-primary: #1E1F26;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}